body{
  background: rgb(4, 7, 4);
}

.lg-react-element{
  column-count: 3;
  column-gap: 10px;
}

img{
  max-width: 100%;
  display: block;
  padding: 5px 0;
  border-radius: 20px;
transition: tranform .3s;
}

img:hover{
  filter: opacity(1.01);
}